@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
body{
    margin:0;
    padding:0;
    font-family: 'Open Sans',sans-serif;
    font-weight: 400;
}
@import url('https://fonts.googleapis.com/css?family=Poppins:600');
h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

/* p,a,li{
    
} */
.container{
    width:100%;
    margin:0 auto;
    
}
.containerimage{
    width:100%;
    margin:0 auto;
    background-image: url("bg-hero-desktop.svg");
    background-color: hsl(193, 100%, 96%);
}
.containerdark{
    width:100%;
    margin:0 auto;
    
    
}
.bgdark{
    background-color: rgb(55, 55, 113);
    padding: 49px 0px;
}
.rowheader{
    width:90%;
    padding-top:2%;
    margin:auto;
    
}
.cards{
    width:90%;
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 0px 0px 20px 2px #ccc;
    margin:auto;
    border-radius: 15px;
}
.row{
    width:90%;
    margin:auto;
   
    margin-bottom:2%;
}
.rowfooter{
    width:90%;
    margin:auto;
    
}
.row:after{content:"";display:table;}
.row:after{clear:both;}

.twocolumns{
    width:49%;
    float:left;
}
.right{
    float:right;
}
.twocolumns40{
    width:45%;
    padding-top:5%;
    float: left;
}
.twocolumns60{
    width:55%;
    
    float:left;
}
.clear{
    clear: both;
}
.hustleimage{
    width:50%;
}
.headingbutton{
    
    text-align: right;
}
.headingstatement{
    margin-bottom:5%;
    
}
.imagemain{
    width:100%;
    margin:40px auto;
}
.imageadjust{
    width:100%;
}
.tryit{
    background-color: white;; 
    border: none;
    color: black;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    border-radius: 40px;
    padding: 15px 40px;
    
}
.pinkbutton{
    background-color: hsl(322, 100%, 66%);; 
    border: none;
    color: white;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
    border-radius: 40px;
    padding: 15px 70px;
    

}
.smallrow{
    width:50%;
    padding:2%;
    margin:auto;
    margin-bottom: -2%;
    box-shadow: 2px 0px 45px -15px #ccc;
    position: relative;
    background-color: white;
    border-radius: 15px;
}
.readybox{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
.fourcolumns{
    width:24%;
    float:left;
}
.iconleft{
    float: left;
}
.addr{
    width:90%;
    margin-left: 30px;
}
li{
    list-style-type: none;
    
}
.logos{
    list-style-image: url("placeholder (2).png");
}
.copyright{
    float: right;
}
.buildheading{
    margin-top:20%;
}
.heading{
    
    font-weight: 600;
}
.about{
    
    
    padding: 20%;
}
.image{
    padding:5%;
}
.noline{
    text-decoration: none;
    color: white;
}
.space{
    margin-top:18%;
}
.footerwhite{
    color:white;
}
.about{
    margin-top:15%;
    padding:10%;
}
.abouttext{
    color:hsl(208,11%, 55%);
}
.smaller{
    font-size: 25px;
}
.fluid{
    width:100% !important;
}

@media screen and (min-width:1200px){
    .container{
        width:1200px;
    }
}

@media screen and (max-width:500px){
    .container{
        width:80%;
    }
    .twocolumns{
        width:100%;
        float: right;
    }
    .twocolumns40{
        width: 100%;
    }
    .twocolumns60{
        width: 100%;
        
    }
    .fourcolumns{
        width:100%;
    }
    .buildheading{
        text-align: center;
    }
    h1{
        font-size: 20px;
    }
    
    .hustleimage{
        width: 40%;
    }
    .headingbutton{
        margin-top: -10%;
    }
    .row{
        width: 90%;
        margin-bottom: 10%;
    }
    .about{
        text-align: center;
        padding:10%;
    }
    .abouttext{
        color:hsl(208,11%, 55%);
    }
    .smallrow{
        width:90%;
        margin-bottom: -5%;
        border-radius:15px;
    }
    .space{
        margin-top: -5%;
    line-height: 30px;
    margin-left: -10%;
    }
    .center{
        text-align: center;
        padding-top:10%;
    }
    .smallest{
        font-size: 15px;
    }
    .bgdark{
        padding: 66px 0px;
    }
    .copyright{
        margin-top: -50%;
    text-align: center;
    }
}
@media screen and (max-width:750px){
    .container{
        width:80%;
    }
    .space {
        margin-top: 0%;
        line-height: 30px;
        margin-left: 0%;
    }
    .smallest{
        font-size:30px;
    }
    .copyright{
        margin-top:-33%;
        float:none;
    }
    .headingbutton{
        margin-top:-7%;
    }
    .buildheading{
        margin-top: 10%;
    }
    .heading{
        font-size:30px;
    }
    .headingstatement{
        font-size:22px;
    }
    .abouttext{
        font-size:24px;
    }
}